[Unit]
Description=Gunicorn instance for Glossio Web (Frontend)
After=network.target

[Service]
User=damiangfabio
Group=www-data
WorkingDirectory=/home/damiangfabio/glossio-web
ExecStartPre=/bin/bash -c 'source /home/damiangfabio/glossio-web/venv/bin/activate'

# Frontend needs Secret Key (and DB URL if using same app)
Environment=DATABASE_URL=postgresql://dadleg:Dami.0316@127.0.0.1/catapp?sslmode=disable
Environment=SECRET_KEY=88ad3921f2a5a950cc817d5d637efc7a

# Listens on glossio-web.sock
ExecStart=/home/damiangfabio/glossio-web/venv/bin/gunicorn --worker-class eventlet -w 1 --bind unix:/home/damiangfabio/glossio-web/glossio-web.sock wsgi:application

[Install]
WantedBy=multi-user.target
